/*Estilização página index.html
*/

.menu li{
    display: inline;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.menu li a {
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    color: blueviolet;
}

body {
    background-color: rgb(183, 148, 216);
    margin: 0px;
}

.menu{
    background-color: black;
    font-style: italic;
    margin: 0px;
    padding: 30px;
}

p{
    text-align: center;
}

.justify-text {
    text-align: justify;
}

.center{
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.imagem-batman{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.p-30 {
    padding: 30px;
}

.tm-social {
    width: 50px;
    height: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Estilização página contato.html
*/

.margin-left {
    margin-left: 50px;
}